---
import { SEO } from "astro-seo";
import Layout from "@layouts/Layout.astro";
import FocusGradients from "@ds/gradients/FocusGradients.astro";
import App from "@components/Focus";
import Header from "@components/Header.astro";

export const prerender = true;
---

<Layout>
  <Header title="Focus" />

  <main class="mx-auto mb-24 inset-0 w-full max-w-lg">
    <App client:only />
  </main>

  <FocusGradients />

  <SEO
    slot="head"
    title="Focus | Fynn"
    description="Free tool to manage your focus time."
    twitter={{ creator: "@fnnpth" }}
    extend={{
      link: [
        { rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico" },
        { rel: "apple-touch-icon", href: "/apple-touch-icon.png" },
        {
          rel: "apple-touch-icon",
          sizes: "57x57" as any,
          href: "/apple-touch-icon-57x57.png",
        },
        {
          rel: "apple-touch-icon",
          sizes: "72x72" as any,
          href: "/apple-touch-icon-72x72.png",
        },
        {
          rel: "apple-touch-icon",
          sizes: "76x76" as any,
          href: "/apple-touch-icon-76x76.png",
        },
        {
          rel: "apple-touch-icon",
          sizes: "114x114" as any,
          href: "/apple-touch-icon-114x114.png",
        },
        {
          rel: "apple-touch-icon",
          sizes: "120x120" as any,
          href: "/apple-touch-icon-120x120.png",
        },
        {
          rel: "apple-touch-icon",
          sizes: "144x144" as any,
          href: "/apple-touch-icon-144x144.png",
        },
        {
          rel: "apple-touch-icon",
          sizes: "152x152" as any,
          href: "/apple-touch-icon-152x152.png",
        },
        {
          rel: "apple-touch-icon",
          sizes: "180x180" as any,
          href: "/apple-touch-icon-180x180.png",
        },
      ],
    }}
  />
</Layout>
