---
import Layout from "@layouts/Layout.astro";
import Gradients from "@ds/gradients/IndexGradients.astro";
import Link from "@ds/Link.astro";

export const prerender = true;
---

<Layout title="Fynn">
  <main class="container mx-auto my-28 px-4">
    <div class="flex flex-col gap-28">
      <section class="flex flex-col gap-4">
        <h1 class="text-7xl font-medium">Fynn</h1>
        <p class="text-2xl font-light text-gray-a11">
          Web Developer from Berlin
        </p>
      </section>

      <div class="flex flex-col gap-20">
        <section class="flex flex-col gap-8">
          <h2 class="text-2xl font-light text-gray-a11">Tools</h2>

          <ul class="flex gap-8">
            <li>
              <Link href="/focus">Focus</Link>
            </li>
            <li>
              <Link href="/word-count">Word Count</Link>
            </li>
          </ul>
        </section>

        <section class="flex flex-col gap-8">
          <h2 class="text-2xl font-light text-gray-a11">Links</h2>

          <ul class="flex gap-8">
            <li>
              <Link
                href="https://www.polywork.com/fnn"
                target="_blank"
                rel="noopener noreferrer"
              >
                Polywork
              </Link>
            </li>
            <li>
              <Link
                href="https://twitter.com/fnnpth"
                target="_blank"
                rel="noopener noreferrer"
              >
                Twitter
              </Link>
            </li>
            <li>
              <Link
                href="https://github.com/fnn"
                target="_blank"
                rel="noopener noreferrer"
              >
                GitHub
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </main>

  <Gradients />
</Layout>
