---
import Header from "@components/Header.astro";
import WordCount from "@components/WordCount";
import Layout from "@layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Fynn · Word Count">
  <Header title="Word Count" />
  <main class="mb-12">
    <WordCount client:only />
  </main>
</Layout>
