---
type Props = {
  title: string;
};

const props = Astro.props;
---

<header class="container flex gap-2 mx-auto p-4 text-gray-12">
  <a
    href="/"
    class="text-gray-a11 hover:text-blue-a11 transition underline decoration-gray-a1 underline-offset-4 decoration-wavy hover:decoration-current"
    >Fynn</a
  >
  <span>·</span>
  <span>{props.title}</span>
</header>
