---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const props = Astro.props as Props;
---

<a
  {...props}
  class="text-gray-12 underline underline-offset-4 decoration-blue-a7 decoration-wavy transition-colors hover:decoration-blue-a9"
>
  <slot />
</a>
