---
export interface Props extends astroHTML.JSX.HTMLAttributes<EventTarget> {}

const props = Astro.props as Props;
---

<a
  {...props}
  class="text-sky-600 hover:text-sky-400 dark:text-sky-500 dark:hover:text-sky-300"
>
  <slot />
</a>
