.light-theme,
:root {
  --gray-1: hsl(206, 30%, 98.8%);
  --gray-2: hsl(210, 16.7%, 97.6%);
  --gray-3: hsl(209, 13.3%, 95.3%);
  --gray-4: hsl(209, 12.2%, 93.2%);
  --gray-5: hsl(208, 11.7%, 91.1%);
  --gray-6: hsl(208, 11.3%, 88.9%);
  --gray-7: hsl(207, 11.1%, 85.9%);
  --gray-8: hsl(205, 10.7%, 78%);
  --gray-9: hsl(206, 6%, 56.1%);
  --gray-10: hsl(206, 5.8%, 52.3%);
  --gray-11: hsl(206, 6%, 43.5%);
  --gray-12: hsl(206, 24%, 9%);
  --gray-a1: hsla(210, 92.6%, 26.5%, 0.016);
  --gray-a2: hsla(210, 87.7%, 16%, 0.028);
  --gray-a3: hsla(210, 98.8%, 14.4%, 0.055);
  --gray-a4: hsla(210, 94.1%, 11.1%, 0.075);
  --gray-a5: hsla(216, 91.1%, 10.9%, 0.099);
  --gray-a6: hsla(206, 96.4%, 11.3%, 0.126);
  --gray-a7: hsla(210, 99.1%, 10.1%, 0.157);
  --gray-a8: hsla(205, 96.5%, 10%, 0.244);
  --gray-a9: hsla(206, 98.8%, 5.9%, 0.467);
  --gray-a10: hsla(206, 99.6%, 5.4%, 0.506);
  --gray-a11: hsla(206, 97%, 4.8%, 0.593);
  --gray-a12: hsla(202, 97%, 2.4%, 0.934);
  --blue-1: hsl(206, 100%, 99.2%);
  --blue-2: hsl(210, 100%, 98%);
  --blue-3: hsl(209, 100%, 96.5%);
  --blue-4: hsl(210, 98.8%, 94%);
  --blue-5: hsl(209, 95%, 90.1%);
  --blue-6: hsl(209, 81.2%, 84.5%);
  --blue-7: hsl(208, 77.5%, 76.9%);
  --blue-8: hsl(206, 81.9%, 65.3%);
  --blue-9: hsl(206, 100%, 50%);
  --blue-10: hsl(208, 100%, 47.3%);
  --blue-11: hsl(211, 100%, 43.2%);
  --blue-12: hsl(211, 100%, 15%);
  --blue-a1: hsla(210, 100%, 51%, 0.016);
  --blue-a2: hsla(210, 100%, 51%, 0.04);
  --blue-a3: hsla(210, 100%, 50.3%, 0.071);
  --blue-a4: hsla(210, 100%, 50.1%, 0.118);
  --blue-a5: hsla(208, 99.1%, 47.1%, 0.189);
  --blue-a6: hsla(209, 99.5%, 45.3%, 0.283);
  --blue-a7: hsla(208, 99.9%, 43.8%, 0.412);
  --blue-a8: hsla(206, 99.8%, 45.1%, 0.632);
  --blue-a9: hsla(206, 100%, 50%, 0.98);
  --blue-a10: hsla(208, 100%, 47.2%, 0.98);
  --blue-a11: hsla(212, 100%, 43%, 0.98);
  --blue-a12: hsla(213, 100%, 14.4%, 0.98);
  --red-1: hsl(10, 100%, 99.4%);
  --red-2: hsl(8, 100%, 98.4%);
  --red-3: hsl(8, 100%, 96.6%);
  --red-4: hsl(8, 100%, 94.3%);
  --red-5: hsl(8, 92.8%, 91%);
  --red-6: hsl(9, 84.7%, 86.3%);
  --red-7: hsl(10, 77.3%, 79.5%);
  --red-8: hsl(10, 71.6%, 71%);
  --red-9: hsl(10, 78%, 54%);
  --red-10: hsl(10, 71.5%, 50%);
  --red-11: hsl(10, 82%, 43.5%);
  --red-12: hsl(10, 50%, 13.5%);
  --red-a1: hsla(0, 100%, 51%, 0.012);
  --red-a2: hsla(8, 100%, 51%, 0.032);
  --red-a3: hsla(7, 100%, 50.2%, 0.067);
  --red-a4: hsla(8, 100%, 50.1%, 0.114);
  --red-a5: hsla(7, 99.5%, 47.9%, 0.173);
  --red-a6: hsla(9, 99.9%, 46.2%, 0.255);
  --red-a7: hsla(10, 99.8%, 43.6%, 0.365);
  --red-a8: hsla(10, 99.5%, 41.8%, 0.499);
  --red-a9: hsla(10, 99.9%, 43.8%, 0.82);
  --red-a10: hsla(10, 100%, 41.8%, 0.859);
  --red-a11: hsla(10, 99.9%, 38.8%, 0.922);
  --red-a12: hsla(10, 99%, 7.4%, 0.934);
  --canvas: #fff;
  --panel: #fff;
  --surface-1: #fff;
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;
  --space-9: 64px;
  --ff-sans: "Untitled Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --ff-code: "IBM Plex Mono", "Menlo", monospace, "Apple Color Emoji",
    "Segoe UI Emoji";
  --fs-1: 12px;
  --fs-2: 14px;
  --fs-3: 16px;
  --fs-4: 18px;
  --fs-5: 20px;
  --fs-6: 24px;
  --fs-7: 28px;
  --fs-8: 35px;
  --fs-9: 60px;
  --br-1: 3px;
  --br-2: 4px;
  --br-3: 6px;
  --br-4: 8px;
  --br-5: 12px;
  --br-6: 16px;
  --shadow-1: inset 0 0 0 1px var(--gray-a6), inset 0 1px 2px 0 var(--gray-a7);
  --shadow-2: 0 0 0 1px var(--gray-a5), 0px 3px 50px -10px var(--gray-a3);
  --shadow-3: 0px 12px 40px var(--gray-a6), 0px 12px 20px -12px var(--gray-a8);
  --shadow-4: 0px 12px 60px var(--gray-a6), 0px 12px 32px -16px var(--gray-a6);
  --shadow-5: 0px 12px 60px var(--gray-a3), 0px 12px 32px -16px var(--gray-a3);
}

.dark,
.dark-theme {
  color-scheme: dark;
  --gray-1: hsl(200, 7%, 8.8%);
  --gray-2: hsl(195, 7.1%, 11%);
  --gray-3: hsl(197, 6.8%, 13.6%);
  --gray-4: hsl(198, 6.6%, 15.8%);
  --gray-5: hsl(199, 6.4%, 17.9%);
  --gray-6: hsl(201, 6.2%, 20.5%);
  --gray-7: hsl(203, 6%, 24.3%);
  --gray-8: hsl(207, 5.6%, 31.6%);
  --gray-9: hsl(206, 6%, 43.9%);
  --gray-10: hsl(206, 5.2%, 49.5%);
  --gray-11: hsl(206, 6%, 63%);
  --gray-12: hsl(210, 6%, 93%);
  --gray-a1: hsla(0, 0%, 0%, 0);
  --gray-a2: hsla(181, 98.9%, 91.8%, 0.026);
  --gray-a3: hsla(182, 86.7%, 91.4%, 0.057);
  --gray-a4: hsla(209, 86.7%, 93.9%, 0.083);
  --gray-a5: hsla(200, 90.3%, 93.4%, 0.109);
  --gray-a6: hsla(209, 95.3%, 93.5%, 0.139);
  --gray-a7: hsla(204, 98.5%, 93.9%, 0.182);
  --gray-a8: hsla(209, 94%, 94.7%, 0.265);
  --gray-a9: hsla(207, 97.3%, 94%, 0.412);
  --gray-a10: hsla(209, 99.4%, 95.2%, 0.472);
  --gray-a11: hsla(208, 98.7%, 96.8%, 0.615);
  --gray-a12: hsla(211, 86.7%, 99.6%, 0.927);
  --blue-1: hsl(212, 35%, 9.2%);
  --blue-2: hsl(216, 50%, 11.8%);
  --blue-3: hsl(214, 59.4%, 15.3%);
  --blue-4: hsl(214, 65.8%, 17.9%);
  --blue-5: hsl(213, 71.2%, 20.2%);
  --blue-6: hsl(212, 77.4%, 23.1%);
  --blue-7: hsl(211, 85.1%, 27.4%);
  --blue-8: hsl(211, 89.7%, 34.1%);
  --blue-9: hsl(206, 100%, 50%);
  --blue-10: hsl(209, 100%, 60.6%);
  --blue-11: hsl(210, 100%, 66.1%);
  --blue-12: hsl(206, 98%, 95.8%);
  --blue-a1: hsla(0, 0%, 0%, 0);
  --blue-a2: hsla(221, 97.8%, 52.4%, 0.059);
  --blue-a3: hsla(215, 99.3%, 54.2%, 0.135);
  --blue-a4: hsla(215, 99.3%, 53.8%, 0.198);
  --blue-a5: hsla(213, 99.4%, 52.8%, 0.252);
  --blue-a6: hsla(212, 99.9%, 51.7%, 0.323);
  --blue-a7: hsla(211, 100%, 50.7%, 0.435);
  --blue-a8: hsla(211, 99.8%, 50.9%, 0.597);
  --blue-a9: hsla(205, 100%, 50%, 0.98);
  --blue-a10: hsla(208, 100%, 60.7%, 0.98);
  --blue-a11: hsla(209, 100%, 66.3%, 0.98);
  --blue-a12: hsla(196, 100%, 96.8%, 0.98);
  --red-1: hsl(10, 23%, 9.4%);
  --red-2: hsl(9, 44.8%, 11.4%);
  --red-3: hsl(8, 52%, 15.3%);
  --red-4: hsl(7, 56.3%, 18%);
  --red-5: hsl(7, 60.1%, 20.6%);
  --red-6: hsl(8, 64.8%, 24%);
  --red-7: hsl(8, 71.2%, 29.1%);
  --red-8: hsl(10, 80.2%, 35.7%);
  --red-9: hsl(10, 78%, 54%);
  --red-10: hsl(10, 81.7%, 59%);
  --red-11: hsl(10, 85%, 62.8%);
  --red-12: hsl(10, 89%, 96%);
  --red-a1: hsla(0, 0%, 0%, 0);
  --red-a2: hsla(5, 100%, 49.6%, 0.058);
  --red-a3: hsla(6, 99.6%, 54.9%, 0.133);
  --red-a4: hsla(6, 99.2%, 55.4%, 0.191);
  --red-a5: hsla(6, 99.5%, 55.8%, 0.244);
  --red-a6: hsla(7, 99.7%, 55.9%, 0.319);
  --red-a7: hsla(8, 99.8%, 54.8%, 0.434);
  --red-a8: hsla(10, 99.8%, 53.5%, 0.598);
  --red-a9: hsla(10, 100%, 59.7%, 0.885);
  --red-a10: hsla(10, 100%, 63.6%, 0.916);
  --red-a11: hsla(10, 99.7%, 66.4%, 0.939);
  --red-a12: hsla(12, 100%, 97.1%, 0.98);
  --canvas: #121214;
  --panel: var(--gray-2);
  --surface-1: var(--gray-a2);
  --surface-2: var(--gray-a3);
  --surface-3: var(--gray-a4);
  --shadow-1: inset 0 0 0 1px var(--gray-a6);
  --shadow-2: 0 0 0 1px var(--gray-a5), 0px 3px 50px -10px rgba(0, 0, 0, 0.9);
  --shadow-3: 0px 12px 40px rgba(0, 0, 0, 0.6),
    0px 12px 20px -12px rgba(0, 0, 0, 0.8);
  --shadow-4: 0px 16px 60px rgba(0, 0, 0, 0.1),
    0px 16px 32px -20px rgba(0, 0, 0, 0.2);
  --shadow-5: 0px 16px 60px rgba(0, 0, 0, 0.25),
    0px 16px 32px -20px rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--gray-1);
}
