---
import "../styles.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <slot name="head" />
  </head>

  <body class="text-gray-12">
    <slot />
  </body>
</html>

<script>
  function setTheme() {
    try {
      let doc = document.documentElement;
      let classList = doc.classList;
      classList.remove("light-theme", "dark-theme");
      let media = window.matchMedia("(prefers-color-scheme: dark)");
      if (media.matches) {
        doc.style.colorScheme = "dark";
        classList.add("dark-theme");
      } else {
        doc.style.colorScheme = "light";
        classList.add("light-theme");
      }
    } catch (e) {}
  }

  setTheme();

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => setTheme());
</script>
